html, body {
    height: 100%;
    /*background-color: #aaaaaa;*/
}

.fill {
    min-height: 100%;
    height: 100%;
}

.game-column {
  background-color: #222222;
}

.stg-canvas-container {
  height:100%;
  padding-top:2.5%;
  padding-bottom:2.5%;
}

.stg-canvas {
  height:100%;
  width:auto;
}

.edit-column {
  display: flex;
  flex-direction:column;
}

@media only screen and (max-width: 992px)  {
  .edit-column {
    display: flex;
    flex-direction:column;
    width:100%;
  }
}


.editor-row {
  display:flex;
  flex-grow:1;
}

.stg-editor {
  width:100%;
  border-bottom: 0;
}

.height90 {
    min-height: 90%;
    height: 90%;
}

.height80 {
    min-height: 80%;
    height: 80%;
}

.height70 {
    min-height: 70%;
    height: 70%;
}

.height60 {
    min-height: 60%;
    height: 60%;
}

.height50 {
    min-height: 50%;
    height: 50%;
}

.height40 {
    min-height: 40%;
    height: 40%;
}

.height30 {
    min-height: 30%;
    height: 30%;
}

.height20 {
    min-height: 20%;
    height: 20%;
}

.height10 {
    min-height: 10%;
    height: 10%;
}
