html, body {
    height: 100%;
    /*background-color: #aaaaaa;*/
}

.fill {
    min-height: 100%;
    height: 100%;
}

.no-padding {
  padding:0px;
}

.game-column {

}

.stg-canvas-container {
  height:100%;
}

.stg-canvas {
  height:100%;
  width: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@media only screen and (max-width: 768px)  {
  .stg-canvas {
    height:75%;
  }
}

.edit-column {
  display: flex;
  flex-direction:column;
}

@media only screen and (max-width: 992px)  {
  .edit-column {
    width:100%;
  }
}

.editor-row {
  display:flex;
  flex-grow:1;
}

.stg-editor {
  width:100%;
  border-bottom: 0;
}

.height90 {
    min-height: 90%;
    height: 90%;
}

.height10 {
    min-height: 10%;
    height: 10%;
}

@media only screen and (max-width: 768px)  {
  .valign {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}
